:root{
	--color-black: #090909;
	--color-red: #FF0000;
	--color-green: #00FF00;
}

footer{
	background-color: var(--color-green);
	text-align: center;
	font-size: 120%;
	color: var(--color-black);
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
	margin: auto;
}
