:root{
	--color-black: #090909;
	--color-red: #FF0000;
	--color-green: #00FF00;
	/*header customizes variables*/
	--background-color-header: #ffffff;
}

header{
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	background: white url("../images/logo.png") 20px center no-repeat;
}

