:root{
	--color-black: #090909;
	--color-red: #FF0000;
	--color-green: #00FF00;
}

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
